.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-logo {
  height: 10vmin;
  pointer-events: none;
}

.Header-link a{
  margin: 10px;
  text-decoration: none;
  color: #282c34;
}

.App-main {
  min-height: 100vh;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-main-title{
  text-align: center;
  padding-top: 10px;
}

.App-main-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.Main-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Header-logo {
    animation: Header-logo-spin infinite 20s linear;
  }
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
