*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
/* Навігація шапки сайту */
.top_menu, .main_menu{
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
    overflow: hidden;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.main_menu{
    font-size: 12px;
    border-bottom: #e3e3e3 1px solid;
}

.top_menu li, .main_menu li {  
    list-style: none;
    padding: 0 8px;
    text-decoration: none;
    color: black;
}

.top_menu a, .main_menu a{
    text-decoration: none;
    color: black;
}

.menu_active a{
    color: #7e0019;
}

/* Шапка сайту */
.header{
    background-color: #7e0019;
    padding: 12px;
    display: flex;
}

.header_right_section, .header_left_section {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_left_section{
    justify-content: flex-end;
}

.header_center{
    width: 60%;
    text-align: center;
}

.header_section_options{
    font-size: 13px;
    font-weight: 800;
    font-stretch: semi-condensed;
    text-transform: uppercase;
    margin-top: 7px;
    padding: 0 12px;
    color: #fff;
    cursor: pointer;
}

.header_icon{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.header_icon span{
    width: 24px;
    height: 3.5px;
    background-color: white;
    margin: 1px;
}

.header_title{
    width: 308px;
    margin: 4px auto 0 auto;
    cursor: pointer;
}

.header_title_info{
    font-size: 12px;
    font-stretch:semi-condensed;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    margin-top: -4px;
    margin-bottom: 4px;
}

.header_lang_active{
    opacity: 0.5;
}

.header_btn_club{
    height: 36px;
    border: #fff 3px solid;
    background: #b30c1d;
    border-radius: 20px;
    margin-left: 10px;
    padding-top: 6px;
}

/*Статистика covid*/
.covid-block{
    padding: 0 12px;
}

.covid-block a {
    text-decoration: none;
    color: #1a1a1a;
}

.covid-title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    font-stretch: semi-condensed;
    color: #900022;
    margin-top: 25px;
}

.covid-container{
    display: flex;
    justify-content: space-between;
    margin-left: -7px;
    margin-right: -7px;
}

.covid-item{
    border: #e3e3e3 1px solid;
    padding: 13px 9px;
    display: inline-block;
    width: calc(100% / 4);
    margin: 5px;
}
.covid-item-desc{
    font-size: 11px;
    text-transform: uppercase;
}
.covid-item-num{
    font-weight: bold;
    font-size: 36px;
    line-height: 0.9em;
    display: inline-block;
}

 .covid-chart{
    display: inline-block;
} 

.covid-item-change{
    color: #900022;
    display: inline-block; 
}

.covid-info{
    font-size: 13px;
    color: #111;
    padding-top: 5px;
}

.covid-more{
    font-size: 12px;
    color: #900022;
    padding-top: 10px;
    text-transform: uppercase;
}

.article-body{
    margin-top: 12px;
    background: #3b3b3e;
}

.article-content-wrapper{
    padding: 30px 20px 30px 20px;
}

.article-content-main{
    display: flex;
}

.article-media{
    margin-right: 25px;
    margin-top: 12px;
    cursor: pointer;
}

.article-header{
    font-size: 40px;
    color: #fff;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.article-subheader{
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.article-footer{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, .2);
    display: flex;
}

.article-footer-header{
    margin-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, .2);
    font-size: 12px;
    font-weight: 800;
    color: white;
    padding: 4px 0 3px 18px;
    position: relative;
    cursor: pointer;
}

.article-footer-header:last-child{
    margin-right: 0;
    border-right: none;
}

.article-footer-header::before{
    content: "";
    width: 10px;
    height: 10px;
    background: #900022;
    position: absolute;
    left: 0;
    top: 8px;
}

.top-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container-main-top{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 25px;
    margin-bottom: 10px;
}

.container-main-top-sub{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-top-sub-left-article{
    padding: 0 12px 12px 12px;
    width:50% ;
    cursor: pointer;
}

.main-article-header{
    font-size: 16px;
    padding: 11px 0 5px 0;
}

.short-news h3{
    border-top: #e3e3e3 1px solid;
    padding: 14px 0 14px 0;
}

.all-news{
    font-size: 12px;
    color: #900022;
    text-transform: uppercase;
}

.main-top-sub-right-article{
    padding: 0 12px 12px 12px;
    width:100% ;
    cursor: pointer;
    position: relative;
}

.article-header-big{
font-size: 31px;
padding: 5px 0;
}

.article-author{
    font-size: 13px;
    text-transform: uppercase;
    color: #888;
    padding: 5px 0;
    line-height: 1.1em;
    width: 100%;
    font-weight: 300;
}

.heading{
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    background: #900022;
    padding: 1px 6px 0;
    position: absolute;
    top: 15px;
    left: 27px;
}
.article-photo-author{
    position: absolute;
    right: 20px;
    bottom: 160px;
    font-size: 9px;
    text-transform: uppercase;
    color: #fff;
}

.main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

.main-left-section{
    max-width: 25%;
}

.main-section-title{
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 12px;
    padding: 15px 0;
    color: #900022;
    border-top: #900022 1px solid;
    cursor: pointer;
}

.container-main-left-section{
    padding: 0 12px 20px 12px;
}

.article-news{
    padding: 5px 0 10px 0;
    border-top: #e3e3e3 1px solid;
}

.article-news:first-child{
    padding: 0 0 10px 0;
    border-top: none;
}

.article-time{
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 1px;
    color: #888;
}

.article-news-header{
    font-size: 16px;
    line-height: 1.2em;
}

.article-news em{
    display: inline;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #1a73e8;
    background: #eeeff0;
    padding: 1px 6px 0;
    position: relative;
    top: -2px;
}

.article-news-header span{
    display: inline;
}

.all-news-main-left-section{
    font-size: 16px;
    text-transform: uppercase;
    color: #900022;
    margin-top: 16px;
}

.main-center-section{
    max-width: 50%;
}

.container-center-section{
    display: flex;
    flex-wrap: wrap;
}

.main-center-article-header{
    font-size: 19px;
    padding: 13px 0 5px 0;
}

.main-article-author{
    font-size: 11px;
    text-transform: uppercase;
    color: #888;
    padding: 5px 0;
}

.main-center-article_title{
    font-size: 11px;
    text-transform: uppercase;
    color: #900022;
    padding: 10px 12px 0 12px;
    font-weight: 800;
}
.main-center-article-img{
padding: 0 28%;
border-radius: 50%;
filter: grayscale(100%);
display: block;
}

.main-article_author_name{
    font-size: 12px;
    text-transform: uppercase;
    color: #900022;
    padding: 0 0 12px 10px;
}

.main-article_author_name span{
    text-transform: none;
    color: #888;
    font-weight: 300;
}

.main-center-article{
    background-color: #eeeff0;
    margin-right: 5px;
}
.main-center-video{
    background-color: #3b3b3e;
    padding-bottom: 25px;
    margin-right: 5px;
}

.main-center-big-article{
    padding: 0 12px 12px 12px;
    width:100% ;
    cursor: pointer;
}

.main-right-section{
    max-width: 25%;
    margin: 0 12px;
    padding-top: 52px;
    border-top: #900022 1px solid;
}   

.main-right-section img:last-child{
    position: sticky;
    top:0px;
}