<!--<div *ngIf="user">-->
<!--  <form #form='ngForm' (ngSubmit)="submitChanges(form)">-->
<!--  <label for="name">Name:-->
<!--    <input [class.error]="!form.controls.name?.valid" [(ngModel)]="user.name" name="name" id="name" required minlength="2" maxlength="20">-->
<!--  </label>-->
<!--    <div *ngIf="!form.controls.name?.valid">The name must be between 2 and 20 characters long</div>-->
<!--  <br>-->
<!--  <label for="age">Age:-->
<!--    <input [class.error]="form.controls.age?.value<0||form.controls.age?.value>100" [(ngModel)]="user.age" name="age" id="age" required type="number">-->
<!--  </label>-->
<!--    <div *ngIf="form.controls.age?.value<0||form.controls.age?.value>100">The age must be between 0 and 100</div>-->
<!--  <br>-->
<!--  <label for="email">Email:-->
<!--    <input [class.error]="!form.controls.email?.value.includes('@')" [(ngModel)]="user.email" name="email" id="email" required type="email">-->
<!--  </label>-->
<!--    <div *ngIf="!form.controls.email?.value.includes('@')">The email is incorrect</div>-->
<!--  <br>-->
<!--  <button [disabled]="form.controls.age?.value<0||form.controls.age?.value>100||!form.controls.email?.value.includes('@')">edit</button>-->
<!--</form>-->
<!--</div>-->

<div *ngIf="user">
  <form [formGroup]="form" (ngSubmit)="submitChanges(form)">
    <input [formControl]="name">
    <input [formControl]="age">
    <input [formControl]="email">
    <button>edit</button>
  </form>
</div>

<router-outlet></router-outlet>
