header{
    background-color:  lightsteelblue
}

.navigation{
font-size: 20px;
font-family: serif;
color: darkblue;
list-style-type: none;
text-align: right;

}

span{
    color: blue;
}

main{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Sivakempfort.jpg/300px-Sivakempfort.jpg);
    background-size: 100% ;
    margin: 0px;
    }

article{
    width: 500px;
    border: 10px solid rgba(15, 46, 71, 0.5);
    padding: 20px;
    margin: 15px;
    text-align: justify;
}

.navigation li {
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
}

.navigation a {
    text-decoration: none;
}

h1{
font-size: 100px;
padding-left: 30px;
padding-top: 30px;
color:rgb(15, 46, 71) ;
}

.icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 10px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c7/DiagrammaChakraKundalini.jpg)
}