.Post-container{
    width: 600px;
    background-color: white;
    color: black;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
}

.Post-Item{
    width: 300px;
    border-radius: 3px;
    border: black 1px solid;
    padding: 10px;
}